* {
    font-family: arial;
}

body {
    margin: 0px;
}

main {
    border-left: 55px solid #353535;
    border-right: 55px solid #353535; 
    padding: 15px 35px;
}

/* HEADER */

header {
    background-size: cover;
    background-position: center;
    height: 360px;
    text-align: center;
    color: #fff;
}

header h1 {
    font-family: "Arial Black";
    font-size: 45px;
    margin-top: 0px;
    color: #000;
    position: relative;
    bottom: 360px;
}

#headerLogo {
    position: relative;
    bottom: 360px;
}

header p {
    margin-bottom: 0;
}

.maxSirina {
    width: 100%;
}

/* NAVIGACIJA */

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: #CC9F1A;
}

nav #izbornikMaliZaslon {
    margin: 0px;
    overflow: hidden;
    background-color: #CC9F1A;
    color: white;
    text-align: center;
    height: 0px;
    padding: 0px;
}

nav ul li {
    float: left;
}

nav ul li a[href] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #eac659;
    font-weight: bold;
}

nav ul li a:hover:not(.active) {
    background-color: #eac659;
}

/* TABLICA - CJENIK */

#tablicaCijena {
    border: 3px solid;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
}

#tablicaCijena>caption+thead {
    background-color: #eac659;
    border: 3px solid black;
    color: #FFF;
}

#tablicaCijena tbody,th,td {
    border: 1px solid black;
}

#tablicaCijena>tbody>tr:nth-child(even) {
    background-color: #cacaca;
}

#tablicaCijena>tbody>tr:hover {
    background-color: #eac659;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #CC9F1A;
    color: white;
    padding: 14px;
}

#licenca {
    position: relative;
    text-decoration: none;
    bottom: 20px;
}

#licenca2 {
    position: relative;
    text-decoration: none;
    top: 6px;
}

/* GALERIJA */

.gridNaslov {
    grid-area: na;
    color: white;
}
.gridSlika1 {
    grid-area: s1;
}
.gridSlika2 {
    grid-area: s2;
}
.gridSlika3 {
    grid-area: s3;
}
.gridSlika4 {
    grid-area: s4;
}
.gridSlika5 {
    grid-area: s5;
}

#galerija {
    text-align: center;
    display: grid;
    grid-template-areas: 
        "na na na na"
        "s1 s1 s1 s1"
        "s1 s1 s1 s1"
        "s2 s2 s4 s4"
        "s3 s3 s4 s4"
        "s3 s3 s5 s5";
    gap: 12px;
}

#galerija>div {
    background-color: #eac659;
    border: 15px solid #eac659;
    border-radius: 15px;
}

#galerija>div[class="gridNaslov"] {
    background-color: #CC9F1A;
    border: 15px solid #CC9F1A;
}

#galerija>div[class="gridSlika1"] img {
    width: 70%;
}

#galerija>div[class="gridSlika2"] img {
    width: 50%;
}

#galerija>div[class="gridSlika5"] img {
    width: 50%;
}

.slikaUGaleriji {
    width: 85%;
    max-width: 80%;
    transition: all 0.15s;
}
.slikaUGaleriji:hover {
    transform: scale(1.15);
}

/* OBRASCI */

.obrazacPoruka {
    display: none; /* Ovu vrijednost mijenja JavaScript kod */
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #595959;
    border: 16px solid #595959;
    border-radius: 16px;
    box-shadow: 0px 0px 5px #FF0000A0;
    color: white;
    z-index: 9999;
}

.obrazacPoruka:hover {
    background-color: #676767;
    border: 16px solid #676767;
    box-shadow: 0px 0px 12px #FF0000FF;
}

/* OBRAZAC ZA REZERVACIJU */

.gridField1 {
    grid-area: f1;
}
.gridField2 {
    grid-area: f2;
}
#rezervacijaObrazac form input[type="submit"] {
    grid-area: ts;
    width: 180px;
    max-width: 50%;
    margin: 0 auto;
}
#rezervacijaObrazac form input[type="reset"] {
    grid-area: tr;
    width: 180px;
    max-width: 50%;
    margin: 0 auto;
}

#rezervacija {
    align-items: center;
    border: 20px solid #CC9F1A;
    border-radius: 20px;
    margin: 36px -16px;
    background-color: #CC9F1A;
}

#rezervacija h2,
#rezervacija p {
    text-align: center;
    color: #FFF;
}

#rezervacija>#rezervacijaObrazac {
    background-color: #eac659;
    margin: 8px;
    border: 15px solid #eac659;
    border-radius: 15px;
}

#rezervacija>#rezervacijaObrazac>form {
    display: grid;
    grid-template-areas:
        "f1 f2"
        "ts tr";
    gap: 15px;
}

/* OBRAZAC ZA KONTAKT */

#kontakt {
    align-items: center;
    border: 20px solid #CC9F1A;
    border-radius: 20px;
    margin: 36px -16px;
    background-color: #CC9F1A;
}

#kontakt h2,
#kontakt p {
    text-align: center;
    color: #FFF;
}

#kontakt>#kontaktObrazac {
    background-color: #eac659;
    margin: 8px;
    border: 15px solid #eac659;
    border-radius: 15px;
}

/* AKCIJSKE PONUDE - NA POČETNOJ STRANICI */

#akcijskePonude {
    text-align: center;
    border: 20px solid #CC9F1A;
    border-radius: 20px;
    margin: 36px -16px;
    background-color: #CC9F1A;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

#akcijskePonude>#tekstUnutarPonuda {
    width: 100%;
    color: white;
}

#akcijskePonude>#tekstUnutarPonuda~div {
    background-color: #eac659;
    margin: 8px;
    border: 15px solid #eac659;
    border-radius: 15px;
    display: inline-block;
    flex: 1;
}

#akcijskePonude>div:not(#tekstUnutarPonuda) * {
    width: 100%;
}

#akcijskePonude a>p {
    color: #353535;
}

/* AKCIJSKE PONUDE - POSEBNE STRANICE */

#oPonudi1 {
    text-align: center;
}

#oPonudi2 {
    text-align: center;
}

#oPonudi3 {
    text-align: center;
}

/* OSTALO */

.boldano {
    font-weight: bold;
}

.ukoseno {
    font-style: italic;
}

.tipka { /* TIPKA */
    padding: 10px;
    background-color: #CC9F1A;
    border: 1px solid black;
    color: #FFF;
    font-weight: bold;
}

.tipka:hover {
    background-color: #eac659;
}

#dokumentacija {
    padding-bottom: 100px;
}

#videoHotela video {
    width: 1200px;
    max-width: 90%;
}

#tlocrtHotela {
    max-width: 100%;
}

#slikaDavida {
    max-width: 100%;
}